@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply bg-black text-white antialiased;
}

select option:disabled {
  color: #6b7280;
}

select option {
  background-color: #111;
  color: #fff;
}
